:root{
  --main-color: #34B0BE;
  --secondary-color: #D1CECA;
  --alt-color: #242635;
  --alt-color2: #292b3c;
  --white: #FFFFFF;
  --background-color: #03051b;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  font-size: 18px;
  font-weight: 400;
}

h1{
  font-size: 80px;
  font-weight: 600;
  margin: 0;
}
h2{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 0;
}
h3{
  font-size: 40px;
  font-weight: 400;
  color: var(--white);
}
p{
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
a{
  text-decoration: none;
}
.underline{
  width: 80%;
  height: 5px;
  background-color: var(--white);
  border: 0;
  border-radius: 15px;
}
.ligth-blue{
  color: var(--main-color);
  font-weight: 600;
}
.text-subtitle{
  font-size: 60px;
  margin: 0;
  margin-bottom: 10px;
}
.button-right{
  display: none;
}
@media (max-width:500px) {
  body{
    font-size: 16px;
  }
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 20px;
  }
  .text-subtitle{
    font-size: 28px;
    margin: 0;
  }
  .underline{
    height: 3px;
    width: 70%;
  }
  .button-right{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: var(--main-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f5f5f5c9;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  
}
/* HEADER */
.header__container{
  position: relative;
}
.menu{
  height: 10vh;
  width: 90%;
  margin: auto;
  max-width: 2000px;
}
.menu_desktop{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.menu__link{
  color: var(--secondary-color);
}
.menu__link.ligth-blue{
  color: var(--main-color);
}
.menu__mobile{
  display: none;
}
@media (max-width: 500px) {
  .menu_desktop{
    display: none;
  }
  .menu__mobile{
    
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    
  }
  .bars__menu__svg{
    height: 40px;
    width: 40px;
  }
}
.header__content{
  margin-top: 50px;
}
.header__content__title{
  width: 90%;
  max-width: 1220px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.header__content__text{
  position: absolute;
  left: 0;
}
.header__img{
  text-align: center;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: var(--alt-color);
}
.photo-desktop{
  height: 100%;
  margin-top: -30px;
}
.photo-mobile{
  display: none;
}
.header__content__icons{
  position: sticky;
  width: 80%;
  background-color: var(--alt-color);
  border-radius: 10px;
  margin: -30px auto 0;
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  gap: 60px;
}
.header__text__icons{
  display: flex;
  gap: 10px;
}
.header__icon{
background-color: var(--secondary-color);
border-radius: 10px;
height: 90px;
width: 200px;
padding: 10px;
}
.content__icon__img{
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  .header__content{
    margin-top: 0px;
  }
  .photo-mobile{
    display: inline;
    margin-top: -13px;
  }
  .photo-desktop{
    display: none;
  }
  .header__content__text{
    position: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__content__title{
    flex-direction: column;
    margin-bottom: 30px;
    gap: 25px;
  }
  .text__name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .underline{
    order: 1;
  }
  .header__img{
    height: 250px;
    width: 250px;
    order: -1;
    margin: auto;
  }
  .header__content__icons{
    position: inherit;
    margin: auto;
    width: 90%;
    padding: 20px;
    gap: 20px;
  }
  
  .header__text__icons{
    justify-content: center;
    gap: 40px;
  }
  .header__icon{
    height: 50px;
    width: 80px;
    padding: 5px;
    }
  
}

/* ABOUT */

.about__content{
  text-align: center;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width:500px) {
  .about__content{
    width: 90%;
    height: 60vh;
    margin-top: 20px;
  }
}

/* SERVICES */

.services__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
  margin: auto;
}
.services__articles{
  display: flex;
  gap: 40px;
}
.services__card{
  background-image: url(../images/Ellipse\ 14.svg);
  background-repeat: no-repeat;
  background-position: top center;
  width: 300px;
  height: 400px;
}
.card{
  border-radius: 10px;
  text-align: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__title{
  font-size: 20px;
}
@media (max-width:500px) {
  .services__content{
    gap: 30px;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .services__articles{
    gap: 30px;
    width: inherit;
    padding-left: 20px;
    position: relative;
  }
  .services__card{
    height: 380px;
    width: 280px;
  }
  
  
}

/* SKILLS */
.skills__content{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 30px;
}
.skill__items{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.skill__item__text{
  display: flex;
  justify-content: space-between;
}
.skill__item__bar{
  width: 100%;
  margin: auto;
  height: 20px;
  background-color: var(--secondary-color);
  border-radius: 15px;
}
.item__bar__progres{
  width: 90%;
  background-color: var(--main-color);
  height: 100%;
  border-radius: 15px;
}
.text__skill{
  margin: 0;
  font-weight: 600;
}
@media (max-width:500px) {
  .skills__content{
    width: 90%;
    margin:50px auto;
  }
  .skill__items{
    gap: 20px;
  }
  .skill-2{
    font-weight: 400;
    font-size: 15px;
  }
  .skill__item__bar{
    height: 15px;
  }
}

/* PROYECTS */
.proyects__content{
  width: 100%;
  padding: 0 50px;
  overflow: hidden;
}
.proyects__title{
  margin-bottom: 20px;
}
.proyects__content__carrousel{
  width: 200%;
  display: flex;
  gap: 20px;
  max-width: 2050px;
  margin: auto;
}
.proyects__content__carrousel__img{
  width: 500px;
  height: 393px;
}
@media (max-width:500px) {
  .proyects__content{
    padding: 0 20px;
  }
  .proyects__content__carrousel{
    gap: 25px;
    position: relative;
  }
  .proyects__content__carrousel .button-right{
    right: 49%;
  } 
  .proyects__content__carrousel__img{
    width: auto;
    height: 250px;
  }
}

/* CONTACT */
.contact__content{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 30px;
  padding-top: 50px;
  min-width: 650px;
  max-width: 1000px;
}
.contact__cards{
  display: flex;
  justify-content: space-between;
}

.contact__card{
  width: 300px;
  height: 300px;
}
@media (max-width:500px) {
  .contact__content{
    min-width: auto;
  }
  .contact__cards{
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .contact__card{
    width: 200px;
    height: 200px;
  }
  .contact__card img{
    height: 80px;
  }
  .contact__card h4{
    margin: 0;
  }
  .contact__card p{
    margin: 0;
  }
}

/* FOOTER */
.footer{
  text-align: center;
  margin: 50px 0;
}