:root{
  --main-color: #34B0BE;
  --secondary-color: #D1CECA;
  --alt-color: #242635;
  --alt-color2: #292b3c;
  --white: #FFFFFF;
  --background-color: #03051b;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

h1{
  font-size: 80px;
  font-weight: 600;
  margin: 0;
}
h2{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 0;
}
h3{
  font-size: 40px;
  font-weight: 400;
  color: var(--white);
}
p{
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
a{
  text-decoration: none;
}
.underline{
  width: 80%;
  height: 5px;
  background-color: var(--white);
  border: 0;
  border-radius: 15px;
}
.ligth-blue{
  color: var(--main-color);
  font-weight: 600;
}
.text-subtitle{
  font-size: 60px;
  margin: 0;
  margin-bottom: 10px;
}
/* HEADER */
.header__container{
  position: relative;
}
.menu{
  height: 10vh;
  padding: 0 50px;
}
.menu_desktop{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.menu__link{
  color: var(--secondary-color);
}
.header__content{
  margin-top: 50px;
}
.header__content__title{
  position: relative;
  display: flex;
  justify-content: center;
}
.header__content__text{
  position: absolute;
  left: 100px;
}
.header__img{
  text-align: center;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: var(--alt-color);
}
.header__img img{
  height: 100%;
  margin-top: -30px;
}
.header__content__icons{
  position: sticky;
  width: 80%;
  background-color: var(--alt-color);
  border-radius: 10px;
  margin: -30px auto 0;
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  gap: 60px;
}
.header__text__icons{
  display: flex;
  gap: 10px;
}
.header__icon{
background-color: var(--secondary-color);
border-radius: 10px;
height: 90px;
width: 200px;
padding: 10px;
}

.content__icon__img{
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ABOUT */

.about__content{
  text-align: center;
  width: 60%;
  margin: auto;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* SERVICES */

.services__content{
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
  margin: auto;
}
.services__articles{
  display: flex;
  gap: 40px;
}

.services__card{
  background-image: url(../images/Ellipse\ 14.svg);
  background-repeat: no-repeat;
  background-position: top center;
  width: 300px;
  height: 400px;
}
.card{
  border-radius: 10px;
  text-align: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__title{
  font-size: 20px;
}

/* SKILLS */
.skills__content{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 30px;
}
.skill__items{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.skill__item__text{
  display: flex;
  justify-content: space-between;
}
.skill__item__bar{
  width: 100%;
  margin: auto;
  height: 20px;
  background-color: var(--secondary-color);
  border-radius: 15px;
}
.item__bar__progres{
  width: 90%;
  background-color: var(--main-color);
  height: 100%;
  border-radius: 15px;
}
.text__skill{
  margin: 0;
  font-weight: 600;
}

/* PROYECTS */
.proyects__content{
  width: 100%;
  padding: 0 50px;
  overflow: hidden;
}
.proyects__title{
  margin-bottom: 20px;
}
.proyects__content__carrousel{
  width: 200%;
  display: flex;
  gap: 20px;
}
.proyects__content__carrousel__img{
  width: 500px;
  height: 393px;
}

/* CONTACT */
.contact__content{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 30px;
  padding-top: 50px;
  min-width: 650px;
}
.contact__cards{
  display: flex;
  justify-content: space-between;
}

.contact__card{
  width: 300px;
  height: 300px;
}

/* FOOTER */
.footer{
  text-align: center;
  margin: 50px 0;
}